# Ignore virtual environment
venv/

# Ignore data files
data/

# Ignore temporary files
temp/

# Ignore environment variables file
.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore WIP files
src/WIP/

# Ignore __pycache__ files
__pycache__/

# Ignore Mypy cache
.mypy_cache/